.Empleados__CSS{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    background-image: linear-gradient(to top, rgb(240, 168, 168) 0%, rgba(255, 0, 0, 0.803) 100%);
}

.custom_text_color {
    color: #dc3545; }

.color {
    background-color: #ea00ff; }


.body__footer, .body__footer__style {
    position: fixed;
    background: #dc3545;
    margin-top: 0cm;
    margin-bottom: 0px;
    height: 50px;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    min-width: 280px; }
    .body__footer__style {
      padding: 0.25cm;
      margin-right: 0%;
      color: #ffffff;
      font-size: small;
      text-align: right; }

.login__property{
    left: 0cm;
    right: 0cm;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.textcontainer{
    margin-top: .1cm;
    margin-bottom: .1cm;
    padding-bottom: .5cm;
    padding-top: .5cm;
}
.textcontainer:hover{
    background-image: linear-gradient(to top, rgb(166, 58, 58) 0%, rgba(255, 0, 0, 0.803) 100%);
}
.textformat{
    color: white;   
    text-align: left;
    padding-left: 1cm;
    padding-right: 1cm;
}

.gradient-custom {
    background: #dc3545;
    background: -webkit-linear-gradient(to bottom, #dc3545, #ffffff);
    background: linear-gradient(to bottom, #dc3545, #fc9999); }
    .gradient-custom__nav {
      background: #dc3545;
      background: -webkit-linear-gradient(to bottom, #dc3545, #fdbdbd);
      background: linear-gradient(to bottom, #dc3545, #fdbdbd); }

.header__logo__shadow {
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    filter: drop-shadow(1px 1px 1px #222); }